.card {
  border: 1px solid #e2e8f0;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 12px;
}

.userName {
  font-size: 28px;
  font-weight: bold;
}

.icon {
  fill: black;
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 8px;
}

.userInfo {
  text-align: left;
}

.line {
  border: none;
  height: 1px;
  margin-top: 25px;
  background-color: rgb(212, 208, 208);
}

.userPhone {
  color: black;
}

.userAddress {
  color: rgb(37, 37, 37);
  font-weight: bold;
}

.info {
  color: grey;
  padding-left: 3px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 12px;
}

.fetchButton {
  background-color: black;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.closeButton {
  background-color: #f56565;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 12px;
  cursor: pointer;
}
