.container {
  display: flex;

  justify-content: center; /* Center the grid horizontally */
  padding: 0 40px;
  margin-top: 35px; /* Padding on the left and right */
}

/* Grid container */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Flexible grid */
  gap: 18px; /* Space between grid items */
  max-width: 1200px; /* Maximum width for the grid */
  width: 100%; /* Full width of the parent container */
  padding: 20px 50px; 
  /* Padding on top and bottom, no padding on sides */
}


/* Add margin to grid items to ensure equal space around them */
.gridItem {
  margin: 0 auto;
} 
