.container {
  display: flex;

  justify-content: center; 
  padding: 0 40px;
  margin-top: 35px; 
}

/* Grid container */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 18px; 
  max-width: 1200px; 
  width: 100%; 
  padding: 20px 50px; 
}

.gridItem {
  margin: 0 auto;
} 
